{% extends "templates/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% if error %}
        <script>
            window.onload = function() {
                Swal.fire({
                    title: '¡Error!',
                    text: '{{ error }}',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            };
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    Hello, {{ username }}! Welcome to your dashboard.
{% endblock %}