{% extends "templates/base.html" %}

{% block title %}Entendimiento del negocio{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Entendimiento del Negocio</h2>

    <h4>Objetivos de Negocio</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Creación de una página web, enfocada en el aprendizaje autónomo para estudiantes de primaria, usando IA como refuerzo para generar los distintos métodos de aprendizaje (cuestionarios, evaluaciones, etc.) y ayudando a estructurar los métodos de aprendizaje.</li>
        <li class="list-group-item">Implementación de un chatbot para que los estudiantes tengan una guía de aprendizaje detallada.</li>
        <li class="list-group-item">Desarrollar modelos de aprendizaje que permitan crear cuestionarios y evaluaciones según el nivel del estudiante.</li>
        <li class="list-group-item">Diseñar una página web intuitiva para estudiantes de grados menores que les permita navegar de manera sencilla.</li>
        <li class="list-group-item">Incorporar elementos de gamificación para motivar a los estudiantes a estudiar de manera efectiva.</li>
        <li class="list-group-item">Generar recursos educativos dinámicos como actividades interactivas y ejercicios prácticos, seleccionados mediante algoritmos de IA según las preferencias de aprendizaje.</li>
    </ul>

    <h4>Preguntas Clave</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">¿De dónde viene la información de la materia de español?</li>
        <li class="list-group-item">¿Cómo puede la IA estructurar rutas de aprendizaje eficaces?</li>
        <li class="list-group-item">¿Cuáles son las métricas de éxito?</li>
        <li class="list-group-item">¿Cómo se va a mostrar de forma didáctica al usuario?</li>
        <li class="list-group-item">¿Qué necesita la página?</li>
        <li class="list-group-item">¿Cómo va a entrar el usuario?</li>
        <li class="list-group-item">¿Qué tipo de información va a brindar el chatbot?</li>
        <li class="list-group-item">¿Debería tener una línea de progreso?</li>
    </ul>

    <h4>Evaluación de Datos</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Los datos los podemos obtener de bibliotecas digitales y repositorios académicos, debido a que la enseñanza es sobre la materia de español para estudiantes de primaria.</li>
    </ul>

    <h4>Análisis de Viabilidad</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Las grandes limitaciones son el tiempo, ya que es corto para colocarle la suficiente información, además de la manera en la que se le va a dar la información al modelo de clasificación y el desarrollo de una página simple pero atractiva para los menores de primaria.</li>
    </ul>
</div>
{% endblock %}