{% extends "templates/base.html" %}

{% block title %}Ingenieria de Datos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Ingenieria de Datos</h2>

    <h4>Selección: Identificar fuentes de datos relevantes</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Google scholar, ResearchGate, Dialnet </li>
        <li class="list-group-item">Biblioteca Digital Mundial </li>
        <li class="list-group-item">Repositorio Educativo de la UNESCO </li>
        <li class="list-group-item">Comunidades de docentes </li>
        <li class="list-group-item">Corpus en español </li>
        <li class="list-group-item">Ejercicios gramaticales y de vocabulario </li>
    </ul>

    <h4>Limpieza: Corregir errores y gestionar valores faltantes </h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Revisión y corrección de errores ortográficos y gramaticales  </li>
        <li class="list-group-item">Validación y gestión de datos faltantes  </li>
        <li class="list-group-item">Eliminación de datos redundantes  </li>
    </ul>

    <h4>Transformación: Crear nuevas características y normalizar datos </h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Creación de nuevas características   </li>
        <li class="list-group-item">Normalización de datos donde se estandaricen los textos escogidos  </li>
        <li class="list-group-item">Conversión de textos a vectores semánticos para mejorar la interpretación del lenguaje  </li>
    </ul>

    <h4>Documentación: Registrar todas las transformaciones realizadas  </h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Gestión base de datos </li>
        <li class="list-group-item">Crear informe de limpieza de datos </li>
        <li class="list-group-item">Registro de fuentes utilizadas </li>
    </ul>        
</div>
{% endblock %}