{% extends "templates/base.html" %}

{% block title %}Despliegue del modelo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Despliegue del modelo</h2>

    <h4>Implementación en Producción: Integración del modelo validado en el entorno operativo real, asegurando compatibilidad con sistemas existentes y optimizando recursos computacionales. </h4>

    <h4>Documentación y Capacitación: Elaboración de manuales técnicos y de usuario, junto con sesiones de formación para el personal que interactuará con el sistema. </h4>

    <h4>Establecimiento de Protocolos: Definición de procedimientos para el monitoreo continuo, gestión de incidencias y recolección de retroalimentación de usuarios finales.  </h4>

</div>
{% endblock %}